@page "/ByInstantiations"
@using System.Net;

<PageTitle>Generic Instantiations</PageTitle>

<h2>Generic Instantiations of Type @Namespace.@Type in Assembly @Assembly</h2>

@if (Types != null)
{
    <div class="row">
        <div class="card col-md-6">
            <div class="card-body">
                <div tabindex="-1" style="height: 50rem; overflow-y: auto">
                    <QuickGrid Items="@Types.AsQueryable()" ResizableColumns="true" Class="table table-striped">
                        <TemplateColumn Title="Name" Sortable="true">
                            <a href="/ByMethods?assembly=@WebUtility.UrlEncode(Assembly)&ns=@WebUtility.UrlEncode(Namespace)&type=@WebUtility.UrlEncode(context.Name)">@context.Name</a>
                        </TemplateColumn>
                        <PropertyColumn Property="@(p => p.Count)" Title="Methods" Format="N0" Sortable="true" />
                        <PropertyColumn Property="@(p => p.Size)" Format="N0" Sortable="true" IsDefaultSort="SortDirection.Descending" />
                    </QuickGrid>
                </div>
            </div>
        </div>
    </div>
}